body {
    --light: hsl(220, 50%, 90%);
    --primary: hsl(255, 30%, 55%);
    --focus: hsl(210, 90%, 50%);
    --border-color: hsla(0, 0%, 100%, .2);
    --global-background: hsl(220, 25%, 10%);
    --background: linear-gradient(to right, hsl(210, 30%, 20%), hsl(255, 30%, 25%));
    --shadow-1: hsla(236, 50%, 50%, .3);
    --shadow-2: hsla(236, 50%, 50%, .4);
  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', sans-serif;
    color: var(--light);
    background: var(--global-background);
  }
  
.modal-update{
    position: fixed;
    top: 15vh;
    left: 0;
    z-index: 99;
    width: 70%;
    min-height: 600px;
    background: hsl(220, 25%, 10%);
    left: calc(50% - 25%);
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: var(--m-shadow, .4rem .4rem 10.2rem .2rem) var(--shadow-1);
    padding-bottom:20px;
    padding: 25px;
    transition:  all 0.5s ease;
  
    margin: 0 0.5rem;
    
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    
}

.modal-update .close-modal {
    position: absolute;
    display: block;
    right: 0;
    width:30px;
    height:30px;
    border-radius:50%;
    line-height:30px;
    font-size: 19px;
    background-color: crimson;
    text-align: center;
    top: calc(15px - 25px);
    cursor: pointer;
    
}

.modal-update .section-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.modal-update .section-right {
    position:absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-right: 20px;
}

.modal-update .section-right .form-group {
    position: relative;
    width: 100%;
}

.modal-update .section-right .form-group label {
    color: aliceblue;
}
.modal-update .section-right .form-group input , .modal-update .section-right .form-group  textarea {
    position: relative;
    width: 100%;
    background: hsl(220, 25%, 10%);
    border: 2px solid black;
    color: white;
}

.modal-update .section-right .form-group label {
    color: #999;
}

.grp-1 {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grp-1 img {
    width: 300px;
    height: 300px;
}

.grp-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grp-2  label{
    position: relative;
    width: 60%;
    background-color: crimson;
    color: white;
}